#getStarted .img-fluid, #schedule .img-fluid {
    height: 160px;
}

#getStarted #small-mode {
    height: 140px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background: #fafafa;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
}

.jumbotron {
    background: none;
}

h4 {
    color: #4e4e4e;
    text-align: center;
}

#info, #schedule, #categories, #faq, #sponsors {
    margin-bottom: 5em;
}

#nav {
    background-color: rgba(15, 181, 148,1);
    padding: 0;
}

#nav a {
    color: #f8f8ff;
    padding: 5px 20px;
    margin: 0;
    font-size: 1.25em;
}

#nav a:hover {
    color: #0fb595;
    background-color: #ffffff;
}

.navbar-brand {
    color: #f8f8ff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #c6f8c6;
}

a:hover {
    color: #63bf63;
}

.fieldset {
    border: 2px solid;
    border-top: none;
    border-color: #0fb595;
    padding: 0.5em;
    margin: 0em 2px;
}

.fieldset>h1 {
    font: 1em normal;
    margin: -1em -0.5em 0;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #0fb595;
}

.fieldset>h1>span {
    float: left;
}

.fieldset>h1:before {
    border-top: 2px solid;
    border-color: #0fb595;
    content: ' ';
    float: left;
    margin: 0.5em 2px 0 -1px;
    width: 0.75em;
}

.fieldset>h1:after {
    border-top: 2px solid;
    border-color: #0fb595;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
}

#sponsorButton {
    background-color: #63bf63;
}

#sponsorButton:hover {
    background-color: #3e973e;
}

#jumbo, #info, #faq p {
    font-size: 1.25em;
}

.btn-primary, .btn-primary a {
    color: #f8f8ff;
    font-size: 1.25em;
    border: none;
}

.btn-primary:hover {
    background-color: #63bf63;
    font-size: 1.25em;
    border: none;
}

#schedule-accordion .card-header {
    background: #0FB595;
}

#schedule-accordion .card-header button {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.card-header {
    background: #f8f8ff;
}

.arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid black;
    border-right: 5px solid darkslategray;
    transform: rotate(45deg);
    margin: -20px;
    animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}