html {
    scroll-behavior: smooth;
}

html, body {
    background: #121212;
    height:100%;
}

p {
    color: lightgray;
}

#nav a {
    font-size: 1.25em;
}

#about, #info, #faq p {
    font-size: 1.25em;
}

.btn-primary, .btn-primary a {
    color: black;
    font-size: 1.25em;
}

#darken {
    background: #121212;
}

.arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid lightgray;
    border-right: 5px solid limegreen;
    transform: rotate(45deg);
    margin: -20px;
    animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
