<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Oswald');

html, body {
    background: #FFFAF3;
    width: 100%;
    height: 100%;
}

a {
    color: #07B494;
}

a:hover {
    color: #28A745;
=======
html {
    scroll-behavior: smooth;
>>>>>>> 5b156c875128aa28af7e934d714767505d09ab03
}

.day {
    color: #FFFAF3;
}

@media (max-width: 483.98px) {
    h1 {
        font-size: 38px;
    }
    
    p {
        font-size: 16px;
    }

    .pathwaySign {
        width: 275px;
        height: 480px;
    }

    #scheduleHeader .col-auto:last-child {
        display: none;
    }
}

<<<<<<< HEAD
@media (min-width: 484px) and (max-width: 991.98px) {
    h1 {
        font-size: 56px;
    }

    p {
        font-size: 20px;
    }

    .pathwaySign {
        width: 320px;
        height: 440px;
    }
=======

h4 {
    color: #4e4e4e;
    text-align: center;
>>>>>>> 5b156c875128aa28af7e934d714767505d09ab03
}

@media (min-width: 484px) and (max-width: 575.98px) {
    #scheduleHeader img {
        width: 22.5vw;
        height: auto;
    }

    #faq img {
        width: 33vw;
    }

    #platinum img {
        width: 33vw;
    }
    
    #gold img {
        width: 25vw;
    }
    
    #silver img {
        width: 22.5vw;
    }
    
    #bronze img {
        width: 22.5vw;
    }
    
    #partners img {
        width: 33vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #faq img {
        width: 256px;
    }

    #platinum img {
        width: 25vw;
    }
    
    #gold img {
        width: 20vw;
    }
    
    #silver img {
        width: 18vw;
    }
    
    #bronze img {
        width: 18vw;
    }
    
    #partners img {
        width: 25vw;
    }
}

@media (max-width: 767.98px) {
    #bronze {
        margin-top: 1.8rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #faq img {
        width: 200px;
    }

    #platinum img {
        width: 18vw;
    }
    
    #gold img {
        width: 14vw;
    }
    
    #silver img {
        width: 12vw;
    }
    
    #bronze img {
        width: 12vw;
    }
    
    #partners img {
        width: 18vw;
    }
}

@media (max-width: 991.98px) {
    .desktop-only {
        display: none;
    }

    #nav {
        background-color: #FFFAF3;
    }
    
    #nav .btn-outline-primary {
        border-radius: 0px;
        width: 100%;
    }
    
    .jumbotron>div:first-child {
        align-self: center;
    }

    #about img {
        width: 200px;
    }

    #info {
        background-image: url("../images/Website\ Design/Backgrounds/whatishackathon\ stars.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #info img {
        width: 180px;
        margin-bottom: 3rem;
    }

    .pathwaySign {
        margin-left: auto;
        margin-right: auto;
    }

    .pathwaySign:first-of-type {
        margin-bottom: 3rem;
    }

    .pathwaySign p {
        font-size: 18px;
    }

    #scheduleHeader {
        background-image: url("../images/Website\ Design/Backgrounds/schedule\ stars.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #sponsorsHeader {
        background-image: url("../images/Website\ Design/Backgrounds/sponsors\ stars.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #platinum .col {
        display: none;
    }

    #gold .col {
        display: none;
    }

    #partners .col {
        display: none;
    }
}

@media (min-width: 992px) {
    .mobile-only {
        display: none;
    }

    #nav .btn-outline-primary {
        border-radius: 10px;
        width: 7em;
    }

    .jumbotron>div>div {
        align-self: center;
    }

    #about p {
        margin-left: 1em;
    }

    #about img {
        width: 220px;
    }

    #info {
        background-image: url("../images/Website\ Design/Backgrounds/whatishackathon\ stars.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #info img {
        width: 256px;
    }

    .pathwaySign {
        height: 400px;
        width: 320px;
    }

    .pathwaySign:first-of-type {
        margin-right: 1.2rem;
    }

    .pathwaySign:last-of-type {
        margin-left: 1.2rem;
    }

    #scheduleHeader {
        background-image: url("../images/Website\ Design/Backgrounds/schedule\ stars.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #scheduleHeader img:first-child {
        margin-right: 5rem;
    }

    #scheduleHeader img:last-child {
        margin-left: 5rem;
    }

    #sponsorsHeader {
        padding-left: 5em;
        padding-right: 5em;
        background-image: url("../images/Website\ Design/Backgrounds/sponsors\ stars.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #faq .row:first-child {
        padding-bottom: 1.8rem;
    }

    #platinum img {
        width: 144px;
    }
    
    #gold img {
        width: 128px;
    }
    
    #silver img {
        width: 96px;
    }
    
    #bronze img {
        width: 96px;
    }
    
    #partners img {
        width: 164px;
    }
}

#nav .btn-outline-primary {
    border: 2px solid #07B494;
    background: #FFFAF3;
}

#nav img {
    height: 48px;
    -webkit-filter: drop-shadow(0px 0px 2px #273147);
    filter:         drop-shadow(0px 0px 2px #273147);
}

#nav .btn-outline-primary:hover {
    background-color: #07B494;
}

#nav .btn-outline-primary a {
    color: #07B494;
}

#nav .btn-outline-primary:hover a {
    color: #FFFAF3;
    text-decoration: none;
}

#jumbo .big-mode {
    font-size: 4em;
}

#jumbo {
    background-image: url("../images/Website\ Design/Backgrounds/HackOR background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFAF3;
}

#jumbo .jumbotron {
    background: none;
}

<<<<<<< HEAD
#jumbo img {
    -webkit-filter: drop-shadow(0px 0px 3px gray);
    filter:         drop-shadow(0px 0px 3px gray);
=======
#about, #info, #faq p {
    font-size: 1.25em;
>>>>>>> 5b156c875128aa28af7e934d714767505d09ab03
}

#jumbo .btn-outline-primary {
    border: 2px solid #273147;
    border-radius: 10px;
}

#jumbo .btn-outline-primary:hover {
    border-color: #07B494;
    background-color: #07B494;
}

#jumbo .btn-outline-primary a {
    color: #273147;
}

#jumbo .btn-outline-primary:hover a {
    color: #FFFAF3;
    text-decoration: none;
}

#info, #schedule, #sponsors {
    background-color: #273147;
}

#getStarted .img-fluid, #schedule .img-fluid {
    height: 140px;
}

#getStarted .small-mode {
    height: 120px;
}

.pathwaySign {
    background-color: #845c2c;
    border-radius: 20px;
    box-shadow: inset 6px -6px 0px 2px #60482e;
    color: #FFFAF3;
    text-align: center;
}

.pathwaySign i {
    font-size: 2em;
    color: #c69f75;
}

.pathwaySign h5 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    word-spacing: 8em;
    letter-spacing: 0.1em;
}

.pathwaySign hr {
    width: 70%;
    border: 1px solid #c69f75;
}

.floater {
    animation: floaty 10s ease-in-out infinite;
}

@keyframes floaty {
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.scheduleBoard {
    background-color: #845c2c;
    border-radius: 45px;
    box-shadow: inset 6px -6px 0px 2px #60482e;
    color: #FFFAF3;
    padding-left: 1em;
    padding-right: 1em;
    height: 600px;
}

#schedule-accordion .card {
    border: none;
}

#schedule-accordion .vl {
    height: 520px;
    border-left: 2px solid #c69f75;
}

#schedule-accordion .card-header {
    background: #845c2c;
    text-align: center;
}

#schedule-accordion .card-header button {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #FFFAF3;
}

#schedule-accordion .card-body {
    background: #845c2c;
}

#FAQHeader {
    background-image: url("../images/Website\ Design/Assets/faq\ trees\ header.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#accordion .card, #accordion2 .card {
    background-color: #FFFAF3;
    border: 2px solid #07B494;
    border-radius: 25px;
    margin-bottom: 0.75em;
}

#accordion .card-header, #accordion2 .card-header {
    background: none;
    border: none;
}

#accordion .card-header button, #accordion2 .card-header button {
    color: #273147;
    text-align: left;
}

#accordion .card-header button img, #accordion2 .card-header button img {
    width: 24px;
    margin-right: 0.5em;
    float: left;
}

#accordion .card-header i, #accordion2 .card-header i {
    color: #07B494;
    float: right;
}

#dropdownMenuButton {
    border: 2px solid #FFFAF3;
    border-radius: 10px;
}

#dropdownMenuButton #timezone {
    color: #FFFAF3;
}

.sponsorsSign {
    background-color: #845c2c;
    border-radius: 6px;
    box-shadow: inset 3px -3px 0px 2px #60482e;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    word-spacing: 8em;
    letter-spacing: 0.1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 2.3em;
    padding-right: 2.3em;
}

#silver-bronze img {
    width: 436px;
}

#footerHeader {
    background: linear-gradient(to bottom, #273147 0%,#273147 60%,#273147 60%,#07B494 60%,#07B494 100%);
}

#footerHeader img {
    width: 64px;
}

#footer {
    background-color: #07B494;
}

#footer a {
    color:#273147;
}